<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= user.idade %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= user.cpf %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= user.telefone %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= user.sexo %>
  </p>

</div>
